{% extends 'index.html' %}
{% block content  %}
<div class="h5 modal-title text-center">
    <h4 class="mt-2">
        <div>Welcome back,</div>
        <span>Please sign in to your account below.</span>
    </h4>
</div>
<form method = 'POST'>
    {% csrf_token %}
    <div style="position: relative;left:120px ">
		{{form.as_p}}
		<button style="width: 225px" class="btn btn-primary btn-lg">Login</button>
    </div>
    <div class="divider"></div>
    <h6 class="mb-0">No account? <a href="{% url 'register_url' %}" class="text-primary">Register</a></h6>
</form>
{% endblock %}
